{% extends 'music_music_app/base.html' %}

{% load static %}

{% block content %}
    <div class="" style="">
        <div class="p-1" style="overflow-y: scroll; overflow-x: hidden; display: inline-block; height: 82%; width: 19%">
            <button class="btn btn-info">
                Settings
            </button>
        </div>
        <div class="p-1" style="overflow-y: scroll; display: inline-block; height: 82%; width: 80%">
            hola
        </div>
    </div>
    <hr>
    <div class="position-static bottom-0 align-items-center d-flex justify-content-center"
         style="height: 10%">
        <img class="" style="max-height: 75px" src="{% static 'music_music_app/previous-button1.png' %}">
        <img class="" style="max-height: 75px" src="{% static 'music_music_app/play-button.png' %}">
        <img class="" style="max-height: 75px" src="{% static 'music_music_app/next-button.png' %}">
    </div>
{% endblock %}

